<div class="row">
  <div class="small-6 columns">
    <h2>Edit you profile</h2>
  </div>
  <div class="small-6 columns text-right">
    <%= link_to t('oodls.ui.back'), donors_index_path, class: "button small" %>
  </div>
</div>
<%= render 'form' %>